article.tweet {
  border: 3px gray solid;
  border-radius: 5px;
  background: transparent;
  padding: 1em .5em;
  margin: .75em 0em;
}

article.tweet:hover {
  box-shadow: .3em .3em .2em grey;
  opacity: 100%;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header span {
  color: lightslategray;
  padding: 0em .75em;
}

article.tweet header img{
  padding: 0em .75em;
  max-height: 1em;
  vertical-align: -12%;
}

.tweet p {
  padding-left: .25em;
  padding-right: .25em;
  font-size: 20px;
  text-indent: .75em;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px gray solid;
  padding: .75em 1em 0em 1em;
  text-decoration: none;
  font-size: small;
}

.tweet footer .material-icons {
  color: transparent;
  font-size: small;
}

.tweet:hover footer .material-icons {
  color: #4056A1;
  font-size: small;
}